.navbar-inner
  .container
    = link_to '/', :class => "brand logo" do
      情報科学 :: 若手の会 
      -# = image_tag asset_path("logo.png")
    %ul.nav.pull-right
      %li= link_to "Facebook", "http://www.facebook.com/groups/149141961845042/"
